<!doctype html>
<html lang="en">

<head>
  <title>QuizBase</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS and Font Awesome -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/487e9d9145.js" crossorigin="anonymous"></script>
</head>

<body>
  {{{body}}}

  <footer class="footer mt-auto">
    <div class="container py-3">
      <span class="text-muted">Coded by Spencer Creer
        <a class="text-dark link-text mx-2" href="https://www.linkedin.com/in/spencer-creer-023246109/" target="_blank"
          style="font-size: 25px;"><i class="fa fa-linkedin-square link-in"></i></a>
        <a class="text-dark link-text mx-2 pt-3" href="https://github.com/spencercreer" target="_blank"><i
            class="fa fa-github link-git" style="font-size: 25px;"></i></a>
      </span>
    </div>
  </footer>

</body>

</html>