<div class="container-fluid">
    <div class="jumbotron jumbotron-fluid mb-0 pb-3">
        <div class="container">
            <h1 class="display-3">Highscores</h1>
            <p class="lead">Text Here!!!!!!</p>
            <hr class="my-2">
            <form action="/api/add-highscore" method="POST">
                <div class="form-group">
                    <label for="score">Score</label>
                    <input type="text" class="form-control" name="score" id="score" aria-describedby="helpId"
                        placeholder="">
                    <label for="initials">Initials</label>
                    <input type="text" class="form-control" name="initials" id="initials" aria-describedby="helpId"
                        placeholder="">
                         <label for="quiz">Quiz</label>
                    <input type="text" class="form-control" name="quiz" id="quiz" aria-describedby="helpId"
                        placeholder="">
                </div>
                <input type="submit" value="Add Score" class="btn btn-primary btn-lg">
            </form>
        </div>
    </div>
</div>

<div id="initialsPg">
    <div class="jumbotron jumbotron-fluid pt-4 mb-0">
        <div class="container">
            <h1 class="display-4 text-center score-alert">Time's Up!</h1>
            <p class="lead text-center">Your total score is: <span class="finalScore">0</span></p>

            <div class="input-group mb-3 justify-content-center">
                <div class="input-group-prepend">
                    <button class="btn btn-info" type="button" id="submitBtn">Submit</button>
                </div>
                <form>
                    <input type="text" id="initials" placeholder="Enter your initials"
                        aria-label="Example text with button addon" aria-describedby="button-addon1">
                </form>
            </div>
        </div>
    </div>
</div>