<div id="highscoresPg">
    <div class="jumbotron jumbotron-fluid pt-4 mb-0">
        <div class="container">
            <h1 class="display-4 text-center highscoresTitle">Highscores</h1>
            <p id="highscore-message" class="lead text-center">Try to see if you can top the scores list.</p>

            <table class="table table-sm">
                <thead>
                    <tr>
                        <th class="text-center" scope="col">Place</th>
                        <th class="text-center" scope="col">Player</th>
                        <th class="text-center" scope="col">Score</th>
                    </tr>
                </thead>
                <tbody id="scoresList">
                    {{#each highscores}}
                    <tr>
                        <td class="text-center">Place</td>
                        <td class="text-center">{{this.initials}}</td>
                        <td class="text-center">{{this.score}}</th>
                    </tr>
                    {{/each}}
                </tbody>
            </table>

            <button class="btn btn-info btn-lg btn-block" id="clearBtn" style="margin-top: 50px" role="button">Clear Highscores</button>
        </div>
    </div>
</div>