    <div>
        <div class="jumbotron pt-2 mb-0">
            <h1 class="display-4 text-center">QuizBase</h1>
            <p class="lead">Welcome to QuizBase; A database of coding quizzes.</p>
            <hr class="my-4">
            <div id="quiz-btns">
                {{#each quizzes}}
                <div class="btn-group m-1" role="group">
                    <button id="btnGroupDrop1" type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      {{quiz_name}}
                    </button>
                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                      <a class="dropdown-item" href="/questions/{{id}}">Add/Edit Questions</a>
                      <a class="dropdown-item" href="/quiz/{{id}}">Take Quiz</a>
                      <a class="dropdown-item" href="/highscores/{{id}}">View Highscores</a>
                    </div>
                  </div>
                {{/each}}
            </div>
        </div>
    </div>