<div id="index">
    <div class="jumbotron pt-2 mb-0">
        <h1 class="display-4 text-center">Coding Quiz</h1>
        <p class="lead">Answer as many coding questions as you can within the time limit. </p>
        <hr class="my-4">
        <p>Your timer will begin with seventy-five seconds. Incorrect answers will reduce your time by ten seconds!</p>
        <button class="btn btn-info btn-lg btn-block" id="javaScriptBtn" value="javaScript">JavaScript Quiz</button>
        <button class="btn btn-info btn-lg btn-block" id="pythonBtn" value="python">Python Quiz</button>
        <button class="btn btn-info btn-lg btn-block" id="cPlusPlus" value="cPlusPlus">C++</button>
    </div>
</div>