<!-- Homepage -->
<div id="index">
    <div class="jumbotron pt-2 mb-0">
        <h1 class="display-4 text-center">Coding Quiz</h1>
        <p class="lead">Answer as many coding questions as you can within the time limit. </p>
        <hr class="my-4">
        <p>Your timer will begin with seventy-five seconds. Incorrect answers will reduce your time by ten seconds!</p>
        <button class="btn btn-info btn-lg btn-block" id="javaScriptBtn" value="javaScript">JavaScript Quiz</button>
        <button class="btn btn-info btn-lg btn-block" id="pythonBtn" value="python">Python Quiz</button>
        <button class="btn btn-info btn-lg btn-block" id="cPlusPlus" value="cPlusPlus">C++</button>
    </div>
</div>

<!-- Quiz page -->
<div id="quiz" hidden>
    <div class="jumbotron jumbotron-fluid pt-2 mb-0">
        <div class="container">
            <h1 class="display-4 text-center quiz-title">Coding Quiz</h1>
            <p class="question lead"></p>
            <div class="list-group">
                <a class="choiceA list-group-item list-group-item-action" id="choiceA"></a>
                <a class="choiceB list-group-item list-group-item-action" id="choiceB"></a>
                <a class="choiceC list-group-item list-group-item-action" id="choiceC"></a>
                <a class="choiceD list-group-item list-group-item-action" id="choiceD"></a>
            </div>
            <p class="text-center" id="timer" style="font-size: 100px"><span class="fa fa-clock-o mr-2"></span><span
                    class="time"> 75 </span></p>

        </div>
    </div>
</div>

<!-- Initials page -->
<div id="initialsPg" hidden>
    <div class="jumbotron jumbotron-fluid pt-4 mb-0">
        <div class="container">
            <h1 class="display-4 text-center score-alert">Time's Up!</h1>
            <p class="lead text-center">Your total score is: <span class="finalScore">0</span></p>

            <!-- User intials submit button and input group -->
            <div class="input-group mb-3 justify-content-center">
                <div class="input-group-prepend">
                    <button class="btn btn-info" type="button" id="submitBtn">Submit</button>
                </div>
                <form>
                    <input type="text" id="initials" placeholder="Enter your initials"
                        aria-label="Example text with button addon" aria-describedby="button-addon1">
                </form>
            </div>
        </div>
    </div>
</div>

<div id="highscoresPg" hidden>
    <div class="jumbotron jumbotron-fluid pt-4 mb-0">
        <div class="container">
            <h1 class="display-4 text-center highscoresTitle">Highscores</h1>
            <p id="highscore-message" class="lead text-center">Try to see if you can top the scores list.</p>

            <table class="table table-sm">
                <thead>
                    <tr>
                        <th class="text-center" scope="col">Place</th>
                        <th class="text-center" scope="col">Player</th>
                        <th class="text-center" scope="col">Score</th>
                    </tr>
                </thead>
                <tbody id="scoresList">
                </tbody>
            </table>

            <!-- Clear Highscores buttons -->
            <button class="btn btn-info btn-lg btn-block" id="clearBtn" style="margin-top: 50px" role="button">Clear
                Highscores</button>
        </div>
    </div>
</div>

<footer class="footer mt-auto">
    <div class="container py-3">
        <span class="text-muted">Coded by Spencer Creer using Bootstrap CSS framework
            <a class="text-dark link-text mx-2" href="https://www.linkedin.com/in/spencer-creer-023246109/"
                target="_blank" style="font-size: 25px;"><i class="fa fa-linkedin-square link-in"></i></a>
            <a class="text-dark link-text mx-2 pt-3" href="https://github.com/spencercreer" target="_blank"><i
                    class="fa fa-github link-git" style="font-size: 25px;"></i></a>
        </span>
    </div>
</footer>