<div id="quiz">
    <div class="jumbotron jumbotron-fluid pt-2 mb-0">
        <div class="container">
            <h1 class="display-4 text-center quiz-title">Coding Quiz</h1>
            <p class="question lead"></p>
            <div class="list-group">
                <a id="choiceA" class="list-group-item list-group-item-action"></a>
                <a id="choiceB" class="list-group-item list-group-item-action"></a>
                <a id="choiceC" class="list-group-item list-group-item-action"></a>
                <a id="choiceD" class="list-group-item list-group-item-action"></a>
            </div>
            <p id="timer" class="text-center" style="font-size: 100px"><span class="fa fa-clock-o mr-2"></span><spanclass="time"> 75 </span></p>
        </div>
    </div>
</div>