<nav class="navbar navbar-expand-lg navbar-light bg-info">
    <a class="navbar-brand" href="/" style="color:white; font-size: 25px;">QuizBase</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-link" href="/login">Login</a>
            <a id="logout-link" class="nav-link">Logout</a>
        </div>
    </div>
</nav>

<div id="quiz-page">
    <div class="jumbotron jumbotron-fluid pt-2 mb-0">
        <div class="container">
            <h1 class="display-4 text-center quiz-title">{{quiz.0.quiz_name}} Quiz <span id="quiz-id"
                    style="display: none;">{{quiz.0.id}}</span></h1>
            <p id="question" class="lead"></p>
            <div class="list-group">
                <a id="choiceA" class="list-group-item list-group-item-action"></a>
                <a id="choiceB" class="list-group-item list-group-item-action"></a>
                <a id="choiceC" class="list-group-item list-group-item-action"></a>
                <a id="choiceD" class="list-group-item list-group-item-action"></a>
            </div>
            <p class="text-center" style="font-size: 50px">
                <span class="fa fa-clock-o mr-2"></span><span id="timer">75</span>
            </p>
            <p class="text-center" style="font-size: 50px">
                <span>Score: </span><span id="score">0</span>
            </p>
        </div>
    </div>
</div>

<div id="initials-page" style="display: none;">
    <div class="jumbotron jumbotron-fluid pt-4 mb-0">
        <div class="container">
            <h1 class="display-4 text-center score-alert">Time's Up!</h1>
            <p class="lead text-center">You scored <span id="final-score">0</span> points</p>

            <form action="/highscores/add/{{quiz.0.id}}" method="POST">
                <div class="input-group mb-3 justify-content-center">
                    <div class="input-group-prepend">
                        <button type="submit" class="btn btn-info" id="submitBtn">Submit</button>
                    </div>
                    <input type="text" name="initials" class="form-control" id="initials"
                        placeholder="Enter your initials">
                    <input type="text" name="score" id="score-input" style="display: none;" readonly>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="/js/quiz.js"></script>
<script src="/js/logout.js"></script>