<div class="jumbotron pt-2 mb-0">
    <form id="signup-form" class="card-body col-6 offset-1">
        <h2>Signup</h2>
        <div>
            <label for="email" class="form-label">Email</label>
            <input type="text" class="form-control" id="email" />
        </div>
        <div>
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username" />
        </div>
        <div>
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" />
        </div>
        <div id="signup-alert" class="hide alert alert-danger mt-2 mb-0" role="alert"></div>
        <button type="submit" id="signup-btn" class="btn btn-info mt-2">Sign Up</button>
        <div>
            <a type="button" href="/login" class="mt-2">Log In</a>
        </div>
    </form>
</div>

<script src="/js/signup.js"></script>