<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/" style="color:white; font-size: 25px;">QuizBase</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-link" href="/login">Login</a>
        </div>
    </div>
</nav>

<div class="jumbotron pt-2 mb-0">
    <div>
        <h2>Signup</h2>
    </div>
    <form id="signup-form" class="card-body">
        <div>
            <label for="email" class="form-label">Email</label>
            <input type="text" class="form-control" id="email" />
        </div>
        <div>
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username" />
        </div>
        <div>
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" />
        </div>
        <button type="submit" id="signup-btn" class="btn btn-info mt-2">Sign Up</button>
        <div>
            <a type="button" href="/login" class="mt-2">Log In</a>
        </div>
    </form>
</div>

<script src="/js/signup.js"></script>