<link rel="stylesheet" href="/css/globalStyle.css" crossorigin="anonymous">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/"><img class="logo" src="/assets/quiz_base_black.png"></a>
</nav>
<div class="jumbotron pt-2 mb-0">
    <form id="update-password-form" class="card-body col-6 offset-1">
        <h2>Login</h2>
        <div>
            <label for="email" class="form-label">Email</label>
            <input type="text" class="form-control" id="email" />
        </div>
        <div>
            <label for="new-password" class="form-label">New Password</label>
            <input type="new-password" class="form-control" id="new-password" />
        </div>
         <div>
            <label for="confirm-password" class="form-label">Confirm Password</label>
            <input type="confirm-password" class="form-control" id="confirm-password" />
        </div>
        <div id="update-alert" class="hide alert alert-danger mt-2 mb-0" role="alert"></div>
        <button type="submit" id="update-password-btn" class="btn btn-info mt-2">Update Password</button>
        <div>
            <a type="button" href="/login" class="mt-2">Login</a>
        </div>
    </form>
</div>

<script src="/js/updatePassword.js"></script>