.card-container {
	display: flex;
	position: relative;
	perspective: 200rem;
	height: 380px;
	margin: 20px 5px;
	flex: 0 1 100%;	
}

.card-container:active .card-front {
	transform: rotateY(180deg);
}

.card-container:active .card-back {
	transform: rotateY(0deg);
}

.card-back {
	transform: rotateY(180deg);
}

.card {
	position: absolute;
	height: 100%;
	width: 100%;
	padding: 15px 30px;
	transition: all 0.5s;
	backface-visibility: hidden;
}

.card-title {
	margin-bottom: 20px;
}

.card-front {
	height: 380px;
	width: 100%;
}

.card-back {
	height: 380px;
	width: 100%;
}

.card-back .card-body {
	position: relative;
}

.card-body .quiz-btns {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-wrap: wrap;
}
 
@media screen and (min-width: 425px) {
   .card-container {
    	height: 180px;
	}
	.card-title {
		margin-bottom: 5px;
	}
	.card-back {
		height: 180px;
	}
	.card-front {
		height: 180px;
	}
	.card-container:active .card-front {
		transform: rotateX(180deg);
	}
	.card-container:active .card-back {
		transform: rotateX(0deg);
	}
	.card-back {
		transform: rotateX(180deg);
	}
}