.logo {
	width: 50px;
}

.hide {
	display: none;
}

.card-container {
	display: flex;
	position: relative;
	perspective: 200rem;
	height: 175px;
	margin: 40px;
	flex: 0 1 100%;	
}

.card-container:active .card-front {
	transform: rotateX(180deg);
}

.card-container:active .card-back {
	transform: rotateX(0deg);
}

.card-back {
	transform: rotateX(180deg);
}

.card {
	position: absolute;
	height: 100%;
	width: 100%;
	padding: 15px 30px;
	transition: all 0.5s;
	backface-visibility: hidden;
}

.card-front {
	height: 175px;
	width: 100%;
}

.card-back {
	height: 175px;
	width: 100%;
}

.card-back .card-body {
	position: relative;
}

.card-body .quiz-btns {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-wrap: wrap;
}

@media screen and (min-width: 40em) {
   .card-container {
    flex: 0 1 calc(100% - 1em);
}
}
 
@media screen and (min-width: 60em) {
   .card-container {
    flex: 0 1 calc(100% - 1em);
}
}
 