.logo {
	width: 50px;
}

.delete-button {
	text-align: center;
	background-color: red;
	color: white !important;
	height: 30px;
	width: 30px;
	border-radius: 5px;
	border-style: none;
	font-weight: bold;
	font-size: 18px;
	padding: 0.10rem 0.25rem;
	margin: 0 0.25rem;
}

.edit-button {
	background-color: #18A2B8;
	color:white;
	height: 30px;
	width: 30px;
	border-radius: 5px;
	border-style: none;
	padding: 0.25rem;
}

.hide {
	display: none;
}